<section nz-row nzJustify="center" nzAlign="middle" class="min-height-contianer">
    <div nz-col nzSpan="22" nzSm="18" nzMd="16" nzLg="14" nzXl="12">
        <nz-card nzHoverable>
            <h1 nz-typography>📝 Todo App</h1>

            <form nz-form nz-row nzJustify="space-between" [nzLayout]="'inline'" [formGroup]="validateForm" (ngSubmit)="addTask()">
                <div nz-col nzSpan="20">
                    <nz-form-control>
                    <nz-input-group nzPrefixIcon="reconciliation">
                        <input formControlName="task" nz-input placeholder="Tarea" />
                    </nz-input-group>
                    </nz-form-control>
                </div>

                <div nz-col nzSpan="3">
                    <nz-form-control nz-row nzAlign="middle">
                        <button nz-button nzType="primary" nzShape="circle" [disabled]="addTaskControl.value == ''">
                            <i nz-icon nzType="plus" nzTheme="outline"></i>
                        </button>
                    </nz-form-control>
                </div>
            </form>


            <div nz-row>
                <div *ngIf="tasks.length == 0" nz-col nzSpan="24" nzAlign="middle">
                    <nz-result 
                        [nzIcon]="'snippets'" 
                        [nzTitle]="'UPPS! Aún no tienes tareas registradas'"
                        [nzSubTitle]="'Ingresa una tarea en la barra y después pulsa el botón +, para agregar una nueva tarea.'">
                    </nz-result>
                </div>

                <div *ngIf="tasks.length != 0" nz-col nzSpan="24" nzAlign="middle">
                    <nz-list nzItemLayout="vertical">
                        <nz-list-item *ngFor="let task of tasks">
                            <p nz-typography nzCopyable nzEditable [(nzContent)]="task.title" class="mb-0"></p>
                        </nz-list-item>
                    </nz-list>
                </div>
            </div>


            <div *ngIf="tasks.length > 0" nz-row nzJustify="space-between" nzAlign="middle">
                <div nz-col nzSpan="14" nzAlign="middle">
                    Tienes {{ tasks.length }} 
                    tarea{{ tasks.length > 1 ? 's' : '' }} 
                    pendiente{{ tasks.length > 1 ? 's' : '' }}.
                </div>

                <div nz-col nzSpan="10" >
                    <div nz-row nzJustify="end">
                        <button nz-button nzType="primary" (click)="cleanAllTasks()">
                            <i nz-icon nzType="clear" nzTheme="outline"></i>
                            Limpiar Todo
                        </button>
                    </div>
                </div>
            </div>
        </nz-card>
    </div>
</section>
