.bg-gradient {
    background: rgb(9,9,121);
    background: linear-gradient(0deg, rgba(9,9,121,1) 0%, rgba(0,212,255,1) 100%);
}

.min-height-contianer {
    min-height: 100vh;
}

.mb-0 {
    margin-bottom: 0;
}