<section nz-row nzJustify="center" nzAlign="middle" class="min-height-contianer">
    <div nz-col nzSpan="22" nzSm="18" nzMd="16" nzLg="14" nzXl="12">
        <nz-card>
            <h1 nz-typography>Todo App</h1>

            <form nz-form nz-row nzJustify="space-between" [nzLayout]="'inline'" [formGroup]="validateForm" (ngSubmit)="addTask()">
                <div nz-col nzSpan="20">
                    <!-- nzErrorTip="Please input your task! -->
                    <nz-form-control>
                    <nz-input-group nzPrefixIcon="reconciliation">
                        <input formControlName="task" nz-input placeholder="Task" />
                    </nz-input-group>
                    </nz-form-control>
                </div>

                <div nz-col nzSpan="3">
                    <nz-form-control nz-row nzAlign="middle">
                        <button nz-button nzType="primary" nzShape="circle" [disabled]="addTaskControlValue == ''">
                            <i nz-icon nzType="plus" nzTheme="outline"></i>
                        </button>
                    </nz-form-control>
                </div>
            </form>

        </nz-card>
    </div>
</section>
